{% extends 'model.html' %}
{% load static %}

{% block conteudo %}
<center><h1>Formulário do Componente Curricular de Língua Portuguesa</h1></center>
<br>
<div class="top-buffer">
    <form action="{% url 'portugues' %}" method="post" >
    {% csrf_token %}


    <div style="display: none;">
        <label>professor</label>
            <select name="professor" id="id_professor">
                <option value="{{professor_instance.instance.id}}">{{professor_instance.instance.nome}}</option>
            </select>
    </div>


    <div >

        <div>
            <label>Selecione o Bimestre:</label>
            <select name="bimestre" id="bimestre_id">
                <option value="" data-default disabled selected></option>
                <option value="1">1º Bimestre</option>
                <option value="2">2º Bimestre</option>
                <option value="3">3º Bimestre</option>
                <option value="4">4º Bimestre</option>
            </select>
        </div>
        <br>
        <div>
            <label>Foi possível realizar a coleta?</label>
            <select name="coleta" id="coleta_id" required="required" onclick="testando()">
                <option value="" data-default disabled selected></option>
                <option value="sim"  data-default >Sim</option>
                <option value="nao">Não</option>
            </select>
        </div>
        <br>
        <div id="motivo" style="display:none">
            <label>Se não foi possível, indique o motivo:</label>
            <select name="motivo" id="motivo_id">
                <option value="" data-default disabled selected></option>
                <option value="Escola em Greve">Escola em Greve</option>
                <option value="Escola em Reforma">Escola em Reforma</option>
                <option value="Profissional Ausente">Profissional Ausente</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
        <br>
        <div id="outros" style="display:none">
            <label>Informe o motivo:</label>
            <input type="text" id="id_outros">
        </div>
        <hr>

        <center><h3 id="obj_id" style="display:none">Objetos do Conhecimento</h3></center>

        <table name="bim1" id="bim1_id" style="display:none" >
            <tr>
                <td><input type="checkbox" id="p1_id" name="p1" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p1">ESTRATÉGIAS DE PRODUÇÃO - PLANEJAMENTO, TEXTUALIZAÇÃO, REVISÃO E EDIÇÃO DE TEXTOS PUBLICITÁRIOS: - PRODUÇÃO DE TEXTOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p2_id" name="p2" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p2">ESTRATÉGIAS DE ESCRITA: TEXTUALIZAÇÃO, REVISÃO E EDIÇÃO: - ESTRATÉGIAS DE ESCRITA EM DIFERENTES MODOS DE DIVULGAÇÃO DE PESQUISAS REALIZADAS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p3_id" name="p3" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p3">RELAÇÃO ENTRE TEXTOS: - TEXTOS TEATRAIS, A PARTIR DA ADAPTAÇÃO DE NARRATIVAS LITERÁRIAS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p4_id" name="p4" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p4">DISCUSSÃO ORAL: - MENSAGENS ORAIS DE USO CONTÍNUO, EM SITUAÇÃO FORMAL E INFORMAL.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p5_id" name="p5" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p5">PRODUÇÃO DE TEXTOS ORAIS: - DRAMATIZAÇÃO DE CENAS OU TEXTOS DRAMÁTICOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p6_id" name="p6" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p6">CONSTRUÇÃO COMPOSICIONAL: - GÊNEROS TEXTUAIS JORNALÍSTICOS NARRATIVOS, ARGUMENTATIVOS E PUBLICITÁRIOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p7_id" name="p7" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p7">EFEITO DE SENTIDO: - ELEMENTOS TÍPICOS DA FALA REGIONAL E AMAZONENSE.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p8_id" name="p8" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p8">MOVIMENTOS ARGUMENTATIVOS E FORÇA DOS ARGUMENTOS: - MOVIMENTOS ARGUMENTATIVOS E FORÇA DOS ARGUMENTOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p9_id" name="p9" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p9">TEXTUALIZAÇÃO: - HIPERTEXTO E HIPERLINK EM AMBIENTE DIGITAL - CONCEITO E ELEMENTOS CONSTITUINTES.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p10_id" name="p10" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p10">USAR ADEQUADAMENTE FERRAMENTAS DE APOIO A APRESENTAÇÕES ORAIS: - RECURSOS LINGUÍSTICOS E MULTIMIDIÁTICOS UTILIZADOS.</label></td>
            </tr>

        </table>




        <table name="bim2" id="bim2_id" style="display:none">

            <tr>
                <td><input type="checkbox" id="p11_id" name="p11" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p11">TEXTUALIZAÇÃO DE TEXTOS ARGUMENTATIVOS E APRECIATIVOS: - PRODUÇÃO DE TEXTOS - PRODUÇÃO, CIRCULAÇÃO E RECEPÇÃO.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p12_id" name="p12" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p12">ESTRATÉGIAS DE ESCRITA - TEXTUALIZAÇÃO, REVISÃO E EDIÇÃO: - PRODUÇÃO E REVISÃO DE TEXTOS DE DIVULGAÇÃO CIENTÍFICA, A PARTIR DE NOTAS, SÍNTESES, ROTEIROS, E ENQUETES PARA PESQUISA.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p13_id" name="p13" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p13">CONSIDERAÇÃO DAS CONDIÇÕES DE PRODUÇÃO. ESTRATÉGIAS DE PRODUÇÃO: PLANEJAMENTO, TEXTUALIZAÇÃO E REVISÃO/EDIÇÃO: - TEXTUALIZAÇÃO, REVISÃO, EDIÇÃO E REESCRITA DE NARRATIVAS LITERÁRIAS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p14_id" name="p14" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p14">PRODUÇÃO DE TEXTOS JORNALÍSTICOS ORAIS: - PRODUÇÃO DE NOTÍCIAS ORAIS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p15_id" name="p15" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p15">ARGUMENTAÇÃO - MOVIMENTOS ARGUMENTATIVOS, TIPOS DE ARGUMENTO E FORÇA ARGUMENTATIVA: - TEXTOS ARGUMENTATIVOS/ PROPOSITIVOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p16_id" name="p16" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p16">MODALIZAÇÃO: - MODALIZAÇÃO EM TEXTOS JORNALÍSTICOS NARRATIVOS E ARGUMENTATIVOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p17_id" name="p17" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p17">MARCAS LINGUÍSTICAS/ INTERTEXTUALIDADE: - INTERTEXTUALIDADE: DIÁLOGO ENTRE OS AUTORES PRESENTES NO TEXTO.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p18_id" name="p18" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p18">MORFOSSINTAXE: MORFOLOGIA - CONCEITO E FLEXÕES - SUBSTANTIVO, ARTIGO, ADJETIVO, NUMERAL, PRONOME E VERBO.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p19_id" name="p19" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p19">ESTRATÉGIAS, PROCEDIMENTOS DE LEITURA EM TEXTOS REIVINDICATÓRIOS OU PROPOSITIVOS: - COMPARAÇÃO DE TEXTOS NORMATIVOS.</label></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="p20_id" name="p20" style="width: 25px; height: 25px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td height="100" align='justify'><label for="p20">APRECIAÇÃO E RÉPLICA: - GÊNEROS TEXTUAIS - CARACTERÍSTICAS, ELEMENTOS CONSTITUINTES E FINALIDADES.</label></td>
            </tr>

        </table>

        <table name="bim3" id="bim3_id" style="display:none">
            <tr>
                <td> 3 bimestre</td>
            </tr>
        </table>

        <table name="bim4" id="bim4_id" style="display:none">
            <tr>
                <td> 4 bimestre</td>
            </tr>
        </table>

    </div>
        <div class="row">
            <button class='btn btn-success' type="submit" style="margin-right: 5px;margin-left:5px;margin-bottom:5px;">Salvar</button>
            <a class="btn btn-danger" style="margin-bottom:5px;" href="{% url 'inicio' %}">Cancelar</a>
     </div>
     </form>
     <script>
         let coleta_field = document.getElementById("coleta_id")
         coleta_field.addEventListener("change", showMotivo)

        function showMotivo(e){
            let motivo_field = document.getElementById("motivo")
            if(e.target.value == "nao"){
                motivo_field.style.display = "block"
            }else{
                motivo_field.style.display = "none"
            }
        }

        let motivo_field = document.getElementById("motivo_id")
        motivo_field.addEventListener("change", showOutros)

        function showOutros(e){
            let outros_field = document.getElementById("outros")
            if(e.target.value == "Outros"){
                outros_field.style.display = "block"
            }else{
                outros_field.style.display = "none"
            }
        }

        let bimestre_field = document.getElementById("bimestre_id")
        bimestre_field.addEventListener("change", showBimestre)

        function showBimestre(e){

            let bim1_table = document.getElementById("bim1_id")
            let bim2_table = document.getElementById("bim2_id")
            let bim3_table = document.getElementById("bim3_id")
            let bim4_table = document.getElementById("bim4_id")
            let obj_field = document.getElementById("obj_id")
            switch(e.target.value){
                case '1' : obj_field.style.display = "block"
                         bim1_table.style.display = "block"
                         bim2_table.style.display = "none"
                         bim3_table.style.display = "none"
                         bim4_table.style.display = "none"
                         break
                case '2' : obj_field.style.display = "block"
                         bim2_table.style.display = "block"
                         bim1_table.style.display = "none"
                         bim3_table.style.display = "none"
                         bim4_table.style.display = "none"
                         break
                case '3' : obj_field.style.display = "block"
                         bim3_table.style.display = "block"
                         bim1_table.style.display = "none"
                         bim2_table.style.display = "none"
                         bim4_table.style.display = "none"
                         break
                case '4' : obj_field.style.display = "block"
                         bim4_table.style.display = "block"
                         bim1_table.style.display = "none"
                         bim2_table.style.display = "none"
                         bim3_table.style.display = "none"
                         break
            }
        }

     </script>



    </div>

{% endblock conteudo %}

{% block scripts %}
{% endblock scripts %}