{% extends 'model.html' %}
{% load static %}

{% block conteudo %}
<body>
 <main>
    <div class="row justify-content-center" style="margin-top: 5%">

        <strong style="font-size: 30px;"> Painel de Controle </strong>
    </div>

    <div class="row justify-content-center">
        <button class = 'btn btn-success' style="margin-top: 15px;width:100px"><a class ='text-white' href="{% url 'form' %}">Formulário</a></button>
    </div>
    <div class="row justify-content-center">
        <button class = 'btn btn-primary' style="margin-top: 10px;width:100px"><a class ='text-white' href="{% url 'form' %}">Relatório</a></button>
    </div>

 </main>
</body>
{% endblock conteudo %}